.textProgramador{
    -fx-text-fill: #FFFFFF;
    -fx-background-color: #C3AB2E;
    -fx-background-radius: 10 10 10 10;
    -fx-alignment: center;
    -fx-font-size: 17.0 pt;
}

.labelDerechosReservados{
    -fx-text-fill: #FFFFFF;
}

.labelDerechosReservados:hover{
    -fx-opacity: 0.5;
    -fx-text-fill: yellow;
}

.txtCorreos{
    -fx-text-fill: #FFFFFF;
    -fx-background-color: none;
    -fx-alignment: center;
}

.btnEmpresa{
    -fx-background-color:#213568;
    -fx-background-radius: 10 10 10 10;
    -fx-text-fill: white;
    -fx-font-size: 15.0 pt;
    -fx-font-family: 'Arial Bold', sans-serif;
    -fx-border-color: #FFFFFF;
    -fx-border-radius: 7 7 7 7;
    -fx-border-width: 2px
}


.btnLogin{
    -fx-background-color:#213568;
    -fx-background-radius: 10 10 10 10;
    -fx-text-fill: white;
    -fx-font-size: 16.0 pt;
    -fx-font-family: 'Britannic Bold', sans-serif;
    -fx-border-color: #FFFFFF;
    -fx-border-radius: 7 7 7 7;
    -fx-border-width: 2px
}

.btnLogin:hover{
    -fx-opacity: 0.5;
}

.txtTituloVentana{
    -fx-text-fill: #213568;
    -fx-font-size: 25px;
    -fx-font-family: 'Britannic Bold', sans-serif;
}

.tpkTexto{
    -fx-font-size: 14px;
    -fx-font-family: 'Britannic Bold', sans-serif;
    -fx-margin: 5px;
    -fx-background-color: #FFFFFF99;
    -fx-border-color: #213466;
    
}

.btnEmpresa:hover {

    -fx-opacity: 0.5;
}

.btnPrueba{
    -fx-background-color:/*#683C1180*/#FFED0060;
    -fx-background-radius: 0 20 20 0;
    -fx-text-fill: white;
    -fx-font-size: 15.0 pt;
    -fx-font-family: 'Arial Bold', sans-serif;
    -fx-border-color: #FFFFFF;
    -fx-border-radius: 0 17 17 0;
    -fx-border-width: 2px
}
.btnPruebaCentro{
    -fx-background-color:/*#683C1180*/#FFED0060;
    -fx-background-radius: 10 10 10 10;
    -fx-text-fill: white;
    -fx-font-size: 15.0 pt;
    -fx-font-family: 'Arial Bold', sans-serif;
    -fx-border-color: #FFFFFF;
    -fx-border-radius: 7 7 7 7;
    -fx-border-width: 2px
}
.btnPruebaIzquierda{
    -fx-background-color:/*#683C1180*/#FFED0060;
    -fx-background-radius: 20 0 0 20;
    -fx-text-fill: white;
    -fx-font-size: 15.0 pt;
    -fx-font-family: 'Arial Bold', sans-serif;
    -fx-border-color: #FFFFFF;
    -fx-border-radius: 17 0 0 17;
    -fx-border-width: 2px
}

.btnBack{
    -fx-background-color:/*#683C1180*/#E94F1C99;
    -fx-background-radius: 100 100 100 100;
    -fx-text-fill: white;
    -fx-font-size: 15.0 pt;
    -fx-font-family: 'Arial Bold', sans-serif;
    -fx-border-color: #FFFFFF;
    -fx-border-radius: 97 97 97 97;
    -fx-border-width: 2px
}


.btnPrueba:hover{
    -fx-opacity: 0.5;
}
.btnPruebaIzquierda:hover{
    -fx-opacity: 0.5;
}
.btnBack:hover{
    -fx-opacity: 0.5;
}
.btnPruebaCentro:hover{
    -fx-opacity: 0.5;
}

.textProgramador:hover{
    -fx-background: black;
    -fx-opacity: 0.5;
    -fx-text-fill: white;
    -fx-font-size: 15.0 pt;
}

.txtImagenes{
    -fx-background-radius: 50 50 50 50;
    -fx-background-repeat: no-repeat;
    -fx-background-size: contain;
}

.txtCorreos:hover{
    -fx-background: black ;
    -fx-opacity: 0.5;
    -fx-text-fill: white;
}


.marco{
    -fx-stroke: none;
    -fx-fill: #213568;
}

.marcoModulos{
    -fx-stroke: none;
    -fx-fill: #C3AB2E;
    -fx-opacity: 0.9;
}

.barrasLaterales{
    -fx-fill: #C3AB2E;
    -fx-stroke: none;
    -fx-opacity: 0.7;
}

.barraPrincipal{
    -fx-fill: #E9D988;
    -fx-stroke: none;
    -fx-opacity: 1;
}

.marcoRedondo{
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 25 25 25 25;
    -fx-border-color: #213568;
    -fx-border-width: 4px;
    -fx-border-radius: 20 20 20 20;
}

.textEslogan{
    -fx-font-size: 20.0 pt;
    -fx-font-family: "Bookman Old Style";
    -fx-text-fill: #b54646;
    -fx-font-weight: bold; 
    -fx-padding: 10.0px;
}

.backgroundsImages{
    -fx-opacity: 0.2;
}

.menu-bar {
    -fx-background-color: linear-gradient(#213466 0%, #2D4A95 100%);
    -fx-opacity: 0.7;
    -fx-border-width: 2.0;

}
.menu-bar .label {
    -fx-font-size: 16.0 pt;
    -fx-font-family: "Bookman Old Style";
    -fx-text-fill: white;
    -fx-font-weight: bold; 
    -fx-padding: 10.0px;

}
.menu-bar .menu-button:hover, .menu-bar .menu-button:focused, .menu-bar .menu-button:showing {
    -fx-background: #683C11;
    -fx-text-fill: white;
}

.menu-item {
    -fx-padding: 0.0em 0.0em 0.0em 0.0em;
    -fx-text-fill: white;
    -fx-background: #683C1137;
}
.menu-item .label{
    -fx-font-size: 14.0 pt;
    -fx-text-fill: black;
    -fx-background: black;
}
.menu-item .label:hover{
    -fx-font-size: 14.0 pt;
    -fx-background: black;
    -fx-text-fill: white;
}
.context-menu {
    -fx-skin: "com.sun.javafx.scene.control.skin.ContextMenuSkin";
    -fx-background-color:#CECE0095;
    -fx-border-width: 0.2px;
    -fx-border-color: #683C11;
    /** -fx-background-insets: 0.0, 1.0, 2.0;
    -fx-background-radius: 0.0 6.0 6.0 6.0, 0.0 5.0 5.0 5.0, 0.0 4.0 4.0 4.0;
    -fx-padding: 0.333333em 0.083333em 0.666667em 0.083333em; 
    -fx-opacity: 0.9;*/
}

.table-view{
    -fx-background-color: transparent;
}

.table-view:focused{
    -fx-background-color: transparent;
}

/* Spaltenköpfe
    Struktur column-header-background -> column-header */

.table-view .column-header-background{
    
    -fx-background-color: linear-gradient(#213466 0%, #2D4A95 100%);
}

.table-view .column-header-background .label{
    -fx-background-color: transparent;
    -fx-text-fill: white;
}

.table-view .column-header {
    -fx-background-color: transparent;
}

.table-view .table-cell{
    -fx-text-fill: white;
    -fx-wrap-text: true;  /*estableces que el texto dentro del label de la celda pueda ser divido en partes*/
}

.table-row-cell{
    -fx-background-color: #2D4A9595;
    -fx-table-cell-border-color: #2D4A95;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em; /* 0 */
}

.table-row-cell:odd{
    -fx-background-color:  #2D4A9595;
    -fx-table-cell-border-colo: #2D4A95;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em; /* 0 */  
}

.table-row-cell:selected {
    -fx-background-color: #683C1195;
    -fx-background-insets: 0;
    -fx-background-radius: 1;
}

.table-view > .virtual-flow > .scroll-bar:vertical,
.table-view > .virtual-flow > .scroll-bar:vertical > .track,
.table-view > .virtual-flow > .scroll-bar:vertical > .track-background, 
.table-view > .virtual-flow > .scroll-bar:horizontal,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track-background {
    -fx-background-color: transparent;
}



.table-view > .virtual-flow > .scroll-bar > .increment-button, 
.table-view > .virtual-flow > .scroll-bar > .decrement-button {
    -fx-opacity: 0;
}


.root
{
    /*-fx-base: dodgerblue; */
}

.datepicker-invalid
{
    -fx-border-color: red;
}

.datepicker-valid
{
    -fx-border-color: null;
}

/* The main calendar pane */
.calendar {

}

/* The calendar header, which contains the navigation elements. */
.calendar-header
{
    -fx-background-color: linear-gradient(#213466 0%, #2D4A95 100%);
    -fx-padding: 0.5em;
    ;

    /* -fx-background-radius: 10;*/
}

/* The calendar footer, which contains the today button. It is only visible when the today button is shown */
.calendar-footer
{
    -fx-background-color: linear-gradient(#213466 0%, #2D4A95 100%);
    -fx-padding: 0.2em;

}

/* The 3 different panes, which show the month, the year, and the decades */
.calendar-month-view, .calendar-year-view, .calendar-decades-view
{
    -fx-background-color: linear-gradient(to bottom, derive(-fx-base,80%), derive(-fx-base,40%));
    -fx-padding: 0;
}

/* The usual button which either display the day of the current month, or the month in the year view, or the year in the decades view */
.calendar-cell-current-month, .calendar-year-button, .calendar-month-button {
    -fx-background-color: null;
    -fx-background-radius: 0;
    -fx-background-insets: 0, 0, 0, 0;
    -fx-cursor: hand;
    -fx-padding: 0.7em;
    -fx-font-weight: bold;
    -fx-background-radius: 8;
}

/* The hover state of the buttons */
.calendar-cell-current-month:hover, .calendar-year-button:hover, .calendar-month-button:hover {
    -fx-background-color: -fx-cell-hover-color;
}

/* The day buttons for the previous and next month. */
.calendar-cell-other-month {
    -fx-background-color: null;
    -fx-background-radius: 0;
    -fx-background-insets: 0, 0, 0, 0;
    -fx-opacity: 0.7;
    -fx-cursor: hand;
    -fx-padding: 0.7em;
    -fx-background-radius: 8;
}

/* The hover state of this button. */
.calendar-cell-other-month:hover {
    -fx-background-color: -fx-cell-hover-color;
}

/* The button which shows the current day. */
.calendar-cell-today {
    -fx-background-color: -fx-accent;
}

/* The buttons in the header and the footer */
.calendar-navigation-button, .calendar-navigation-title, .calendar-today-button {
    -fx-background-color: null;
    -fx-cursor: hand;
    -fx-text-fill: white;
}

/* don't make the title button transparent, when it is disabled in the decades view */
.calendar-navigation-title:disabled {
    -fx-opacity: 1;
}

/* The arrow for navigation. SVG is used for it. */
.calendar-navigation-arrow {
    /*padding determines the size of the arrow; This should match the design size in the SVG */
    -fx-padding: 4 3.5 4 3.5;
    -fx-padding: 0.333333em 0.333333em 0.333333em 0.333333em; /* 2 3.5 2 3.5 */
    -fx-shape: "M 100 100 L 300 100 L 200 300 z";
    -fx-background-color: #ffffff;
}

/* The cell which contain the week day names */
.calendar-weekdays {
    -fx-background-color: -fx-body-color;
    -fx-padding: 3px;
}

.calendar-week-number {
    -fx-font-size: 0.8em;
    -fx-padding: 4px;
}
